<td colspan="5" class="se-frm-split-td">
    <div class="se-frm-split-inner">
        <label class="se-frm-split-lbl">New file name:{{hint}}</label>
        <input class="se-frm-new-name-input" value="{{suggested}}" spellcheck="false" />
        <span class="se-frm-new-err" style="display:none;"></span>
        <div class="se-frm-split-actions">
            <button class="se-btn se-btn-xs se-frm-new-confirm">Add</button>
            <button class="se-btn se-btn-xs se-frm-new-cancel">Cancel</button>
        </div>
    </div>
</td>
